/* IMPORT FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* RESETEO DE ESTILOS */

html {
  /* --accent: #00ccff; */
  --accent: #b2ca06;
  --accentlt: #e7fd4f;
  --accentdk: #7e9900;
  --contrast: #ff6f00;
  --contrastlt: #ffa040;
  --contrastdk: #c43e00;
  --gray: #3b3b3b;
  --graymd: #757575;
  --graylt: #cccccc;
  --light: #ffffff;
  /* --red: #ad1111; */
  /* --green: #059005; */
  --font: Quicksand, sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray);

  font-family: var(--font);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

/* APP */
#app {
  margin: 0 auto;
  text-align: center;
}

/* HEADER */
#menu {
  margin: 0 auto;
  background-color: var(--gray);
  height: 3rem;
  position: sticky;
}
#menu div {
  max-width: 1200px;
  margin: 0 auto;
}
/* #menu nav section.register.out {
  margin-top: 0.5rem;
} */

#menu nav section.register.in {
  margin-top: 0.7rem;
}

#menu nav section.register a {
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--light);
}

#menu aside#nav {
  padding: 30px;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 2rem;
  top: 3rem;
  text-align: left;
  background-color: var(--gray);
}

#menu aside#nav a {
  font-weight: 600;
  color: var(--light);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4rem;
}

#menu nav {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: initial;
}

#menu nav .register {
  /* float: right; */
  flex-grow: 1;
  text-align: right;
}

#menu nav .logo {
  /* float: left; */
  color: var(--light);
  font-weight: 700;
  font-size: 1.2rem;
  margin: 0.7rem;
}
#menu nav .register button {
  margin: 0.5rem;
}

#menu nav .register button.simple {
  background-color: transparent;
  color: var(--light);
  right: 10rem;
}

#menu nav #nav a.router-link-exact-active {
  color: var(--accent);
}

#menu nav .hamburgerSect {
  margin: 0 1rem;
}

/* FOOTER */
footer {
  margin: 2rem 0;
}

/* ESTILOS GENERALES */
input {
  font-size: 1rem;
  display: block;
  margin: 1rem auto;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px dashed var(--accent);
}

select {
  -webkit-appearance: none;
  border-radius: 0.2rem;
  background: none;
  border: 1px dashed var(--accent);
  padding: 0.2rem;
}

button {
  margin: 2rem;
  border: none;
  background: var(--accent);
  color: var(--light);
  padding: 0.3rem 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
}

#validate button a {
  color: var(--light);
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  background-color: var(--gray);
  cursor: pointer;
}

input[type='datetime-local' i] {
  font-size: 1rem;
  font-family: var(--font);
}

/* ESTILOS TEXTOS */
h1 {
  font-size: 1.5rem;
  margin: 2rem;
}
h2,
h3 {
  margin: 1.5rem;
}
li p,
#addFavour section p {
  display: inline-block;
  width: 50%;
  padding: 0.4rem;
  vertical-align: top;
}
li div button {
  width: calc(50% - 1rem);
  margin: 0 0.5rem;
}
li div.stock,
li div.noStock,
li div.edit {
  margin: 1rem auto;
}
li p:nth-child(even){
  text-align: left;
}
li p:nth-child(odd) {
  text-align: right;
}
strong {
  font-weight: 600;
}

/* ESTILOS LISTADOS */
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1200px;
  width: 1200px;
}
li,
#addFavour section {
  border: 2px solid #dddddd;
  background-color: var(--light);
  border-radius: 8px;
  width: 450px;
  /* padding: 1rem; */
  margin: 1rem;
  box-shadow: 0 2px 6px rgba(22,22,22,0.2);
}
img {
  /* height: 300px; */
  /*border: 2px solid var(--accent);*/
  box-shadow: 2px 2px 6px rgba(22, 22, 22, 0.2);
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
}

/* ESTILOS FAVOUR CARD */
.description {
  max-height: 5.5rem;
  overflow: hidden;
}

/* ESTILOS FAVORESCARD && FAVORES EN PROFILE && CAJAS ESTILO FEIVS */
#favores ul li article,
#favorDetail ul li article,
#heroe ul li article {
  margin-bottom: 1rem;
}
#favores ul li header,
#favorDetail ul li header,
#heroe ul li header {
  display: flex;
  justify-content: start;
  order: -1;
  flex-direction: column;
}
#favores ul li header h1,
#favorDetail ul li header h1,
#heroe ul li header h1 {
  color: var(--accent);
/*   align-items: center;
  align-self: center; */
  text-transform: uppercase;
}
#favores ul li header img,
#favorDetail ul li header img,
#heroe ul li header img {
  height: 300px;
  order: -1;
  border-radius: 8px 8px 0 0;
}

/* #favores ul li button, */
#profile ul li button,
#addFavour section button {
  margin: 1rem auto;
  display: block;
}
#favores ul li button {
  display: inline-block;
  margin: 0 auto 1rem 0;
}
#favores ul li input,
#profile ul li input,
#addFavour section input {
  display: inline-block;
  margin: 0;
}
#favorDetail {
  margin: 5rem auto;
}
/* #favores ul li p:nth-child(3n + 2), */
#favores ul li p:nth-child(2n + 2),
#favores ul li select,
#favores ul li input,
#favorDetail ul li input,
#favorDetail ul li select,
#favorDetail ul li p:nth-child(2n + 2),
#heroe ul li p:nth-child(odd),
/* #profile ul li p:nth-child(3n + 2), */
#profile ul li p:nth-child(2n + 2),
#profile ul li input,
#profile ul li select,
#addFavour section p:nth-child(even),
#addFavour select,
#addFavour input {
  text-align: left;
  width: 60%;
}
#favorDetail ul li input {
  display: inline-block;
  margin: 0;
}
/* #favores ul li p:nth-child(3n + 1),
#profile ul li p:nth-child(3n + 1), */
#favores ul li p:nth-child(2n + 1),
#profile ul li p:nth-child(2n + 1),
#favorDetail ul li p:nth-child(2n + 1),
#heroe ul li p:nth-child(even),
#addFavour section p:nth-child(odd) {
  text-align: right;
  width: 30%;
}

#favores .voteClass {
  width: calc(60% - 4.5rem);
  display: inline-block;
  margin-right: 1rem;
}

/* ESTILOS ERRORES */
.error {
  font-size: 0.9rem;
  color: var(--red);
  display: block;
}

/* ESTILOS LOADING */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--accent);
  background: -moz-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -webkit-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -o-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -ms-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: linear-gradient(to right, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: var(--light);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: var(--light);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* ESTILOS HAMBURGER MENU */
/* .hamburger {
  cursor: pointer;
  min-height: 22px;
  max-width: 20px;
}
.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
  background-color: var(--accent);
  position: absolute;
  width: 24px;
  height: 3px;
  border-radius: 5px;
  content: '';
  transition-timing-function: ease;
  transition-duration: .2s;
  transition-property: transform,opacity;
}
.hamburger-inner:before {
  top: 8px;
}
.hamburger-inner:after {
  top: 16px;
}
.hamburger.open .hamburger-inner {
  transform: translate3d(0,10px,0) rotate(45deg);
}
.hamburger.open .hamburger-inner:after,
.fade-enter, .fade-leave-to {
  transform: translate3d(0,-17px,0) rotate(-90deg);
}
.hamburger.open .hamburger-inner:before,
.fade-enter-active, .fade-leave-active  {
  transform: translate3d(0,-7px,0) rotate(90deg);
} */

/* MEDIA QUERIES */
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  ul {
    width: 100%;
  }
}
@media (max-width: 600px) {
  html {
    font-size: 10px;
  }
}
@media (max-width: 320px) {
  body > div {
    width: 100%;
  }
}