/* IMPORT FONT FAMILY */
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* RESETEO DE ESTILOS */

html {
  /* --accent: #00ccff; */
  /* --accent: #b2ca06; */
  --accent: #b2ca06;
  --accentRGB: 178, 202, 6;
  --accentlt: #e7fd4f;
  --accentdk: #7e9900;
  --accentdkRGB: 126, 153, 0;
  --contrast: #ff6f00;
  --contrastRGB: 255, 111, 0;
  --contrastlt: #ffa040;
  --contrastltRGB: 255, 160, 64;
  --contrastdk: #c43e00;
  --gray: #3b3b3b;
  --grayRGB: 59, 59, 59;
  --graymd: #757575;
  --graylt: #cccccc;
  --light: #ffffff;
  /* --red: #ad1111; */
  /* --green: #059005; */
  --font: Quicksand, sans-serif;
  --shadow: 0 2px 6px rgba(22, 22, 22, 0.2);
  --shadowBg: 2px 2px 6px rgba(22, 22, 22, 0.2);
  --backColorLt: rgba(126, 146, 0, 0.1);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--gray);

  font-family: var(--font);
}

img {
  width: 100%;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

fieldset {
  border: none;
}

.colAccent {
  color: var(--accent);
}

/* APP */
#app {
  margin: 0 auto;
  text-align: center;
}
#app> main {
  min-height: calc(100vh - 102px);
}

/* HEADER */
#menu {
  margin: 0 auto;
  background-color: var(--gray);
  height: 46px;
  position: sticky;
}
#menu div {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap-reverse;
}
/* #menu nav section.register.out {
  margin-top: 0.5rem;
} */

/* #menu nav section.register.in {
  margin-top: 0.7rem; 
} */

#menu nav section.register a,
#menu nav section.logo a {
  padding: 0.3rem 0.75rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--light);
}

#menu aside#nav {
  padding: 30px;
  display: flex;
  flex-direction: column;
  text-align: left;
  background-color: var(--gray);
  width: fit-content;
}

#menu aside#nav a {
  font-weight: 600;
  color: var(--light);
  text-decoration: none;
  font-size: 1.2rem;
  padding: 0.4rem;
  display: block;
}

#menu nav {
  margin: 0 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: initial;
  background-color: var(--gray);
  z-index: 1;
}

#menu nav .register {
  /* float: right; */
  flex-grow: 1;
  text-align: right;
}

#menu nav .logo {
  /* float: left; */
  color: var(--light);
  font-weight: 700;
  font-size: 1.2rem;
  /* margin: 0.7rem; */
}
#menu nav .register button {
  margin: 0.5rem;
}

#menu nav .register button.simple {
  background-color: transparent;
  color: var(--light);
  right: 10rem;
}

#menu nav #nav a.router-link-exact-active {
  color: var(--accent);
}

/* #menu nav .hamburgerSect {
  margin: 0 1rem;
} */

/* FOOTER */
footer {
  padding: 1rem;
  background-color: var(--gray);
  position: sticky;
}
footer p {
  color: var(--light);
  font-weight: 600;
}

/* ESTILOS GENERALES */
input {
  font-size: 1rem;
  display: block;
  margin: 1rem auto;
  padding: 0.2rem;
  border: none;
  border-bottom: 1px dashed var(--accent);
}

select {
  -webkit-appearance: none;
  border-radius: 0.2rem;
  background: none;
  border: 1px dashed var(--accent);
  padding: 0.2rem;
  font-size: 1rem;
}

button {
  margin: 2rem;
  border: none;
  background: var(--accent);
  color: var(--light);
  padding: 0.3rem 2rem;
  border-radius: 0.4rem;
  font-size: 1rem;
  font-weight: bold;
}

#validate button a {
  color: var(--light);
}

input:focus,
button:focus {
  outline: none;
}

button:hover {
  background-color: var(--gray);
  cursor: pointer;
}

input[type='datetime-local' i] {
  font-size: 1rem;
  font-family: var(--font);
  background-color: var(--light);
  border-radius: 0.2rem;
  border: 1px dashed var(--accent); 
}

/* ESTILOS TEXTOS */
h1 {
  font-size: 2rem;
  font-weight: bold;
  margin: 2rem;
}
h2 {
  font-size: 1.8rem
}
h2,
h3 {
  margin: 1.5rem;
}
li p,
#addFavour section p {
  display: inline-block;
  width: 50%;
  padding: 0.4rem;
  vertical-align: top;
}
li div button {
  width: calc(50% - 1rem);
  margin: 0 0.5rem;
}
li div.stock,
li div.noStock,
li div.edit {
  margin: 1rem auto;
}
li p:nth-child(even){
  text-align: left;
}
li p:nth-child(odd) {
  text-align: right;
}
strong {
  font-weight: 600;
}

/* ESTILOS LISTADOS */
ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: stretch;
  margin: 0 auto;
  max-width: 1600px;
  /* width: 1200px; */
}
main {
  background-color: var(--backColorLt);
}
/* main:before {
  content:'';
  background-image: url('../assets/FEIVS_pattern.jpg');
  background-position: center center;
  background-repeat: repeat;
  background-size: auto;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  z-index: -1;
  opacity: 0.1;
  top: 0;
} */
#favourDetail {
  padding: 5rem;
}
#addFavour,
#login,
#register,
#favourDetail {
  min-height: calc(100vh - 20px);
}
#profile> section {
  min-height: calc(100vh - 25vh);
}
li,
#addFavour section,
#login section section,
#register section,
#profile>section>section>section.ficha {
  /* border: 2px solid #dddddd; */
  background-color: var(--light);
  border-radius: 0.8rem;
  width: 400px;
  /* padding: 1rem; */
  margin: 1rem;
  box-shadow: var(--shadowBg);
}
#addFavour section,
#login section section,
#register section,
#profile>section>section>section.ficha {
  padding:1rem;
  margin: 4rem auto 0 auto;
}
#profile>section>section>section.ficha input.inputFile {
  max-width: 190px;
}
#profile>section>section>section.ficha h2 {
  color: var(--accent);
  margin: 1rem 0 1.5rem 0;
}
#login section section,
#register section{
  margin: auto;
}
#login section#new input {
  text-align: center;
}
img {
  /* height: 300px; */
  /*border: 2px solid var(--accent);*/
  box-shadow: var(--shadowBg);
  border-radius: 0.8rem;
  object-fit: cover;
  object-position: center;
}

/* ESTILOS FAVORES CARD && FAVORES EN PROFILE && CAJAS ESTILO FEIVS */
.description {
  max-height: 5.5rem;
  overflow: hidden;
}
ul li i.status {
  border-radius: .6rem 0px .6rem 0px;
  -moz-border-radius: .6rem 0px .6px 0px;
  -webkit-border-radius: .6rem 0px .6rem 0px;
  border: 0px solid var(--gray);
  width: 4rem;
  height: 4rem;
  position: absolute;
}
.statusAssigned {
  background-color: rgba(var(--contrastRGB), 0.75);
}
.statusAssigned:after {
  background-image: url('../assets/statusIcon_asignado.png');
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
.statusFinished {
  background-color: rgba(var(--accentdkRGB), 0.75);
}
.statusFinished:after {
  background-image: url('../assets/statusIcon_finalizado.png');
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
.statusCanceled {
  background-color: rgba(var(--grayRGB), 0.75);
}
.statusCanceled:after {
  background-image: url('../assets/statusIcon_cancelado.png');
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
.statusInProgress {
  background-color: rgba(var(--contrastltRGB), 0.75);
}
.statusInProgress:after {
  background-image: url('../assets/statusIcon_pendiente.png');
  content: '';
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 10;
}
#heroes #heroe {
  margin-top: 3rem;
}
#favores ul li article,
#favourDetail ul li article,
#heroe ul li article,
#profile ul li article {
  margin-bottom: 1rem;
}
#favores ul li header,
#favourDetail ul li header,
#heroe ul li header,
#profile ul li header {
  display: flex;
  justify-content: start;
  order: -1;
  flex-direction: column;
}
#favores ul li header h1,
#favourDetail ul li header h1,
#heroe ul li header h1,
#profile ul li header h1 {
  color: var(--accent);
/*   align-items: center;
  align-self: center; */
  text-transform: uppercase;
  margin: 1rem 0 0 0;
  background-color: transparent;
}
#favores ul li header h2,
#favourDetail ul li header h2,
#heroe ul li header h2,
#profile ul li header h2 {
  color: var(--accentdk);
  text-transform: uppercase;
  margin: 0;
  font-size: 1.7rem;
  margin:0 0 0.5rem 0;
  line-height: 0.8;
}
#favores ul li header img,
#favourDetail ul li header img,
#heroe ul li header img,
#profile ul li header img {
  height: 200px;
  order: -1;
  border-radius: 0.8rem 0.8rem 0 0;
}

/* #favores ul li button, */
#profile ul li button,
#favores ul li button,
#favourDetail ul li button,
#addFavour section button {
  margin: 1rem auto;
  display: block;
}
#favores ul li input,
#profile ul li input,
#addFavour section input {
  display: inline-block;
  margin: 0;
}
/* #favores ul li p:nth-child(3n + 2), */
#favores ul li p:nth-child(2n + 2),
#favores ul li select,
#favores ul li input,
#favourDetail ul li input,
#favourDetail ul li select,
#favourDetail ul li p:nth-child(2n + 2),
#heroe ul li p:nth-child(odd),
#heroe ul li div.vue-star-rating,
/* #profile ul li p:nth-child(3n + 2), */
#profile ul li p:nth-child(2n + 2),
#profile ul li input,
#profile ul li select,
#addFavour section p:nth-child(even),
#addFavour select,
#addFavour input {
  text-align: left;
  width: 60%;
}
#favourDetail ul li input,
#heroe ul li div.vue-star-rating {
  display: inline-block;
  margin: 0;
}
/* #favores ul li p:nth-child(3n + 1),
#profile ul li p:nth-child(3n + 1), */
#favores ul li p:nth-child(2n + 1),
#profile ul li p:nth-child(2n + 1),
#favourDetail ul li p:nth-child(2n + 1),
#heroe ul li p:nth-child(even),
#addFavour section p:nth-child(odd) {
  text-align: right;
  width: 30%;
}
#favores ul li .vote input.voteClass,
#profile ul li .vote input.voteClass,
#favourDetail .vote input.voteClass {
  width: calc(60% - 5.5rem);
  display: inline-block;
  margin-right: 1rem;
}

#favores ul li .vote button,
#profile ul li .vote button,
#favourDetail ul li .vote button {
  display: inline-block;
  margin: 0 0 0 0.5rem; 
}

/* ESTILOS BUSCADOR DE FAVORES */
#favours #favores #buscador input {
  margin: 0;
  display: inline-block;
}
#favours #favores #buscador select {
  margin: 0 1rem;
  display: inline-block;
  background-color: var(--light);
}
#favours #favores #buscador button {
  display: inline-block;
  margin: 0 0 0 1rem;
}
#favours #favores ul {
margin-top: 3rem
}

/* ESTILOS ERRORES */
.error {
  font-size: 0.9rem;
  color: var(--contrastdk);
  display: block;
}

/* ESTILOS BOTONES NAVEGACIÓN */
.volver {
  background-image: url('../assets/close.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 4rem;
  width: 4rem;
  height: 4rem;
  position: absolute;
  margin-left: calc(400px - 4rem);
  background-color: var(--accent);
  border-radius: 0px 0.6rem 0px 0.6rem;
  -moz-border-radius: 0px 0.6rem 0px 0.6px;
  -webkit-border-radius: 0px 0.6rem 0px 0.6rem;
  border: 0px solid var(--gray);
  /* position: relative; */
  /* top: -30rem; */
  /* right: -16rem; */
  /* top: -16rem; */
  /* right: -11rem; */
  cursor: pointer;
}
/* .volver img {
  width: 35px;
  box-shadow: none;
  background-color: var(--accent);
} */

/* ESTILOS LOADING */
.loader {
  font-size: 10px;
  margin: 50px auto;
  text-indent: -9999em;
  width: 11em;
  height: 11em;
  border-radius: 50%;
  background: var(--accent);
  background: -moz-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -webkit-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -o-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: -ms-linear-gradient(left, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  background: linear-gradient(to right, var(--accent) 10%, rgba(180,202,35, 0) 42%);
  position: relative;
  -webkit-animation: load3 1.4s infinite linear;
  animation: load3 1.4s infinite linear;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before {
  width: 50%;
  height: 50%;
  background: var(--light);
  border-radius: 100% 0 0 0;
  position: absolute;
  top: 0;
  left: 0;
  content: '';
}
.loader:after {
  background: var(--light);
  width: 75%;
  height: 75%;
  border-radius: 50%;
  content: '';
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* MEDIA QUERIES */
@media(max-width:1400px) {
/*   ul {
    max-width: 1200px;
  } */
}
@media(min-width:1201px) {
  /* .volver {
    top: -15.5rem;
    right: -10.5rem;
    top: -16rem;
    right: -8rem;
  } */
}
@media (max-width: 1200px) {
  html {
    font-size: 12px;
  }
  #app> main {
    min-height: calc(100vh - 84px);
  }
  #menu {
    height: 43px;
  }
  /* .volver {
    top: -19.5rem;
    right: -14.5rem;
  } */
  #profile>section>section>section.ficha input.inputFile {
    max-width: 120px;
  }
}
@media (max-width: 768px) {
  html {
    font-size: 10px;
  }
  #app> main {
    min-height: calc(100vh - 78px);
  }
/*   ul {
    max-width: 600px;
  } */
  li,
  #addFavour section,
  #login section section,
  #register section,
  #profile>section>section>section.ficha {
    max-width: 280px;
    /* margin: 0; */
  }
  #profile>section>section>section.ficha input.inputFile {
      max-width: 120px;
  }
  .volver {
    margin-left: calc(280px - 4rem);
    /* top: -37rem; */
    /* top: -24rem; */
    /* right: -11rem; */
  }
  #heroe ul li div.vue-star-rating {
    width: 65%;
  }
}
@media (max-width: 623px) {
  #favours #favores #buscador button {
    margin: 1rem 0 0 1rem;
  }
  #favourDetail {
    padding:0;
  }
}
@media (max-width: 599px) {
  #favours #favores #buscador input,
  #favours #favores #buscador select,
  #favours #favores #buscador button {
    margin: 1rem auto;
    display: block;
  }
  #favours #favores #buscador {
    margin-top: -75px;
  }
/*   ul {
    width: 280px;
  } */
}
@media (max-width: 320px) {
  body > div {
    width: 100%;
  }
}